.history {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 1px;
	:deep(.vue-recycle-scroller__item-view) {
		width: 100%;
		border-bottom: 1px solid white;
		> div {
			display: flex;
			height: 80px;
			width: 100%;
		}
	}
	:deep(.history__deck__count),
	:deep(.history__card__move),
	:deep(.history__draw),
	:deep(.history__chaining),
	:deep(.history__chain_sloved),
	:deep(.history__confirm) {
		> div:first-child {
			width: 20%;
		}
		> div:last-child {
			width: 80%;
		}
	}
	:deep(.history__card__battel),
	:deep(.history__pos) {
		> div:first-child, > div:last-child {
			width: 20%;
		}
		> div:nth-child(2) {
			width: 20%;
		}
	}
	:deep(.history__cover),
	:deep(.history__turn),
	:deep(.history__phase),
	:deep(.history__lp) {
		> div:first-child {
			width: 20%;
		}
		> div:last-child {
			width: 60%;
		}
	}
	:deep(.history__announce) {
		> div:first-child {
			width: 20%;
		}
		> div:last-child {
			width: 80%;
			display: flex;
			> div {
				width: 50%;
				height: 100%;
			}
		}
	}
	:deep(.history__oppo) {
		background: linear-gradient(to right, red 0%, rgba($color: red, $alpha: 0) 40%);
	}
	:deep(.history__self) {
		background: linear-gradient(to right, blue 0%, rgba($color: blue, $alpha: 0) 40%);
	}
	:deep(.history__oppo.history__turn),
	:deep(.history__oppo.history__phase) {
		background: linear-gradient(to right, red 0%, rgba($color: red, $alpha: 0) 100%);
	}
	:deep(.history__self.history__turn),
	:deep(.history__self.history__phase) {
		background: linear-gradient(to right, blue 0%, rgba($color: blue, $alpha: 0) 100%);
	}
}