.history {
	overflow-y: auto;
	> * {
		display: flex;
		height: 130px;
		width: 100%;
		> div {
			height: 100%;
		}
	}
	:deep(.history__card__move) {
		> div:first-child {
			width: 40%;
		}
		> div:last-child {
			width: 60%;
		}
	}
	:deep(.history__card__battel) {
		> div:first-child, > div:last-child {
			width: 40%;
		}
		> div:nth-child(2) {
			width: 20%;
		}
	}
	:deep(.history__oppo) {
		background: linear-gradient(to right, red, transparent);
	}
	:deep(.history__self) {
		background: linear-gradient(to right, blue, transparent);
	}
}