.history {
	overflow-y: auto;
	> * {
		display: flex;
		height: 130px;
		width: 100%;
		> div {
			height: 100%;
		}
	}
	:deep(.history__card__move),
	:deep(.history__draw) {
		> div:first-child {
			width: 20%;
		}
		> div:last-child {
			width: 80%;
		}
	}
	:deep(.history__card__battel),
	:deep(.history__pos) {
		> div:first-child, > div:last-child {
			width: 20%;
		}
		> div:nth-child(2) {
			width: 20%;
		}
	}
	:deep(.history__cover),
	:deep(.history__lp) {
		> div:first-child {
			width: 20%;
		}
		> div:last-child {
			width: 60%;
		}
	}
	:deep(.history__announce) {
		> div:first-child {
			width: 20%;
		}
		> div:last-child {
			width: 80%;
			display: flex;
			> div {
				width: 50%;
				height: 100%;
			}
		}
	}
	:deep(.history__oppo) {
		background: linear-gradient(to right, red, transparent);
	}
	:deep(.history__self) {
		background: linear-gradient(to right, blue, transparent);
	}
}