.selecter {
	position: fixed;
	bottom: 0;
	left: calc(var(--width) * 0.15);
	width: calc(var(--width) * 0.7);
	height: var(--h);
	color: white;
	transition: all 0.1s ease;
	> div {
		width: 100%;
	}
	> div:first-child {
		height: 30px;
	}
	> div:nth-child(2) {
		background-color: rgba(0, 0, 0, 0.5);
		border: 1px solid white;
		height: calc(100% - 80px);
	}
	> div:last-child {
		height: 50px;
		display: flex;
		> div {
			flex-grow: 1;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}