@use '@/pages/deck/deck.scss';
@use '@/pages/setting/setting.scss';
@use '@/pages/duel/duel.scss';
@use '@/pages/menu/menu.scss';
@use '@/pages/toast/toast.scss';
@use '@/pages/loading/loading.scss';
.mobile {
	.var-popup__content {
		transform: scale(70%);
	}
	.var-menu__menu {
		transform: scale(calc(var(--scale) * 1.4));
	}
}
.var-icon, .cursor {
	&:hover {
		cursor: pointer;
	}
}
.dialog, .var-menu-option {
	color: white !important;
	border: 1px solid white;
}
.var-divider,
.var-input__input {
	color: white !important;
}
.var-back-top {
	background: none !important;
	button {
		background: none !important;
	}
}
.var-card {
	background-color: transparent !important;
}
.var-button {
	height: 32px !important;
	overflow: hidden;
	svg {
		width: 30px;
		height: 30px;
	}
}
.var-menu-select--scrollable, .var-select__scroller, .ConversationBlock {
	&::-webkit-scrollbar {
		display: none;
	}
}
.readonly {
	--checkbox-unchecked-color: #555 !important;
	color: #555 !important;
}
.font-title {
	font-family: 'TITLE' !important;
}
.font-menu {
	font-family: 'MENU' !important;
}
.font-atk {
	font-family: 'ATK' !important;
}
.var-picker__picked {
	border: 1px solid white !important;
}
.no-scrollbar {
	&::-webkit-scrollbar {
		display: none;
	}
}
.horizontal {
	&::-webkit-scrollbar {
		opacity: 0;
		height: 10px;
	}
	&::-webkit-scrollbar-thumb {
		background: transparent;
		border: 2px solid gray;
		border-radius: 8px;
	}
}
.pointer {
	&:hover {
		cursor: pointer;
	}
}
.var-popup__content, .var-menu__menu {
	transform: scale(var(--scale));
	transform-origin: center top !important;
	background-color: rgba(0, 0, 0, 0.5) !important;
}
:root {
	--picker-mask-background-image: transparent !important;
	--picker-background: transparent !important;
	--result-background: transparent !important;
	--card-background: transparent !important;
	--dialog-background: transparent !important;
	--popup-content-background-color: transparent !important;
	--tabs-background: transparent !important;
	--counter-background: transparent !important;
	--select-scroller-background: rgba(0, 0, 0, 0.5) !important;
	--menu-select-menu-background-color: rgba(0, 0, 0, 0.5) !important;
	--dialog-message-color: white !important;
	--dialog-title-color: white !important;
	--list-loading-color: white !important;
	--list-finished-color: white !important;
	--list-error-color: white !important;
	--checkbox-text-color: white !important;
	--menu-option-text-color: white !important;
	--option-text-color: white !important;
	--cell-color: white !important;
	--divider-color: white !important;
	--checkbox-unchecked-color: white !important;
	--tab-inactive-color: white !important;
	--cell-border-color: white !important;
	--card-title-color: white !important;
	--card-outline-color: white !important;
	--card-subtitle-color: white !important;
	--card-description-color: white !important;
	--picker-option-text-color: white !important;
	--picker-title-text-color: white !important;
	--picker-cancel-button-text-color: white !important;
	--pagination-text-color: white !important;
	--pagination-active-color: white !important;
	--pagination-disabled-color: white !important;
	--picker-picked-border:	5px solid white;
	--cell-padding: 1vh 20px !important;
	--field-decorator-line-size: 0.5px !important;
}
body {
	overflow: hidden;
	user-select: none;
}